#header {
    background-color: #A9A9A9;
    color:white;
    text-align:center;
    padding:5px;
    font-family: Calibri;
    margin-bottom: 0;
    }
#nav {
    line-height:30px;
    background-color: #8B008B;
    height:2000px;
    width:100px;
    float:left;
    padding-top:50px;
    padding-left:10px;
    font-weight: bold;
    color: white;
    font-family: Calibri;
}
p{
    margin-left:  15px; 
}
.pagers_linck{
    color:white;
    font-family: Calibri;
}
#section {
    width: 80%;
    float:left;
    padding:10px; 
    font-family: Calibri;   
}
#footer {
    background-color: #696969;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-family: Calibri;
    margin-top: 50px;
}